.ex-1-square {
  transition: background-color 3s ease-in-out;
}
.ex-1-square:hover {
  background-color: red;
}
.ex-2-square {
  transition: width 3s ease-in-out;
}
.ex-2-square:active {
  width: 100%;
}
.ex-3-square {
  transition: border-radius 1s ease-in-out;
}
.ex-3-square:hover {
  border-radius: 50%;
}
.ex-4-square {
  transition: opacity  1s ease-in-out;
}
.ex-4-square:hover {
  opacity: 0;
}
.ex-5-square {
  transition: all 1s ease-in-out;
}
.ex-5-square:hover {
  height: 100px;
  width: 100px;
  margin: 0px;
}
.well .ex-6-img {
  filter: grayscale(0);
  transition: all 1s ease-in-out;

}
.well .ex-6-img:hover {
  filter: grayscale(1);
}
.well .ex-7-img {
  filter: sepia(0);
  transition: all 1s ease-in-out;

}
.well .ex-7-img:hover {
  filter: sepia(0.8) grayscale(0.2);
}
